<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <title>Welcome!</title>
  <style>
    ul {
      list-style-type: disc;
      margin-left: 20px;
    }
  </style>
</head>
<body class="align">
  <div class="devloggrid">
    <h1>Welcome!</h1>
    <h2>Developer Log:</h2>
    <ul>
      <li>06/24/23: Fixed issue regarding SQL injections.</li>
      <li>06/24/23: Re-enabled post limit.</li>
      <li>06/24/23: Fixed CSS text posting issues.</li>
      <li>06/24/23: Cleaned up layout of HTML/CSS.</li>
      <li>06/24/23: Added some JavaScript in order to toggle replies.</li>
      <li>06/24/23: Added new buttons to make navigation easier.</li>
      <li>06/25/23: Simplified website layout even more.</li>
      <li>07/13/23: Pagination.</li>
    </ul>
  </div>
</body>
</html>
